<div class="container py-4">
  <div class="row">
    <div class="col">
      <h2>Les directives : exercices</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label class="me-2">Completed</label>
      <input class="me-3" type="checkbox" [(ngModel)]="completed">
      <label class="me-2">Pending</label>
      <input class="me-3" type="checkbox" [(ngModel)]="pending">
      <label class="me-2">Delay</label>
      <input type="checkbox" [(ngModel)]="delay">

      <p>Le nombre de projets sélectionnés est : <strong>{{cpt}}</strong> </p>
      <div class="d-flex flex-wrap gap-3 mt-4">
       @for( project of projectData; track project.id) {
         @if (
           project.status === 'Completed' && completed ||
             project.status === 'Pending' && pending ||
             project.status === 'Delay' && delay
           ){
           <app-card-project [project] = project (eventEmitter)="updateCpt($event)"></app-card-project>
         }
       }
      </div>
    </div>
  </div>
</div>
